{{>header}}

    <h1>Roster</h1>
        <form>
        <input placeholder="usedr" />
        <submit>
    </form>
    {{#each shiftData}}
    <p>{{this.ShiftId}}<br />{{this.FirstName}}<br />{{this.DateStart}}<br />{{this.Message}}</p>
    {{/each}}

    
{{>footer}}